/* main navbar setup */
.navbar {
  background-color: #5AAFF5;
  border-bottom: 1px solid #000000;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
}
/* globe styling */
img {
  padding: .5rem;
}